<md-card>
  <md-card-content>
    <h2 class="example-h2">Progress spinner configuration</h2>
<section class="example-section">
      <label class="example-margin">Mode:</label>
      <md-radio-group [(ngModel)]="mode">
        <md-radio-button class="example-margin" value="determinate">
          Determinate
        </md-radio-button>
        <md-radio-button class="example-margin" value="indeterminate">
          Indeterminate
        </md-radio-button>
      </md-radio-group>
    </section>

  <section class="example-section" *ngIf="mode == 'determinate'">
      <label class="example-margin">Progress:</label>
      <md-slider class="example-margin" ngDefaultControl [(ngModel)]="value" ></md-slider>
    </section>
  </md-card-content>
</md-card>